<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">	
		<!-- * Arena * -->

	<display-name>CodeSolids-Project</display-name>
	
	<servlet>
		<servlet-name>ArenaServlet</servlet-name>
		<servlet-class>codesolids.gui.arena.ArenaServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArenaServlet</servlet-name>
		<url-pattern>/arena.echo</url-pattern>
	</servlet-mapping>

	  	<!-- * ACADEMIA * -->
  	
  	<servlet>
		<servlet-name>AcademiaServlet</servlet-name>
		<servlet-class>codesolids.gui.academia.AcademiaServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AcademiaServlet</servlet-name>
		<url-pattern>/academia.echo</url-pattern>
	</servlet-mapping>
	
		<!-- * TIENDA * -->
  	
  	<servlet>
		<servlet-name>TiendaServlet</servlet-name>
		<servlet-class>codesolids.gui.tienda.TiendaServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TiendaServlet</servlet-name>
		<url-pattern>/tienda.echo</url-pattern>
	</servlet-mapping>

		<!-- * MAPA PRINCIPAL * -->
		
	<servlet>
    	<servlet-name>MapaAppServlet</servlet-name>
    	<servlet-class>codesolids.gui.mapa.MapaAppServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  	  <servlet-name>MapaAppServlet</servlet-name>
  	  <url-pattern>/mapa.echo</url-pattern>
 	 </servlet-mapping>

		<!-- * PANTALLA PRINCIPAL (inicio) * -->
		
	<servlet>
    	<servlet-name>PrincipalServlet</servlet-name>
    	<servlet-class>codesolids.gui.principal.PrincipalServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  	  <servlet-name>PrincipalServlet</servlet-name>
  	  <url-pattern>/principal.echo</url-pattern>
 	 </servlet-mapping>
  
  		<!-- ********* -->

</web-app>

