<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>Echo3Tutorial</display-name>
	
	<servlet>
		<servlet-name>HolaMundoServlet</servlet-name>
		<servlet-class>com.tutorial.holamundo.HolaMundoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HolaMundoServlet</servlet-name>
		<url-pattern>/holamundo.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>WindowServlet</servlet-name>
		<servlet-class>com.tutorial.window.WindowServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WindowServlet</servlet-name>
		<url-pattern>/window.echo</url-pattern>
	</servlet-mapping>


	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>InputTextServlet1</servlet-name>
		<servlet-class>com.tutorial.input1.InputTextServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InputTextServlet1</servlet-name>
		<url-pattern>/inputtext1.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>InputTextServlet2</servlet-name>
		<servlet-class>com.tutorial.input2.InputTextServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InputTextServlet2</servlet-name>
		<url-pattern>/inputtext2.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->

	<!--
		DMI: TemplatePane no esta funcionando en Echo3 (Usar HtmlLayout)
	-->

	<servlet>
		<servlet-name>TemplateServlet</servlet-name>
		<servlet-class>com.tutorial.template.TemplateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TemplateServlet</servlet-name>
		<url-pattern>/template.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>HtmlLayoutServlet</servlet-name>
		<servlet-class>com.tutorial.htmllayout.HtmlLayoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HtmlLayoutServlet</servlet-name>
		<url-pattern>/htmllayout.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>PanelChangeServlet</servlet-name>
		<servlet-class>com.tutorial.panelchange.PanelChangeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PanelChangeServlet</servlet-name>
		<url-pattern>/panelchange.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>HtmlLayoutChangeServlet</servlet-name>
		<servlet-class>com.tutorial.htmllayoutchange.HtmlLayoutChangeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HtmlLayoutChangeServlet</servlet-name>
		<url-pattern>/htmllayoutchange.echo</url-pattern>
	</servlet-mapping>


	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>EventsServlet</servlet-name>
		<servlet-class>com.tutorial.events.EventsServletServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EventsServlet</servlet-name>
		<url-pattern>/events.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>TableServlet</servlet-name>
		<servlet-class>com.tutorial.table.TableServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TableServlet</servlet-name>
		<url-pattern>/table.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->

	<!--
		<servlet> <servlet-name>TableServlet2</servlet-name>
		<servlet-class>com.tutorial.table.copy.TableServlet</servlet-class>
		</servlet> <servlet-mapping>
		<servlet-name>TableServlet2</servlet-name>
		<url-pattern>/x.echo</url-pattern> </servlet-mapping>
	-->
	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>Images1Servlet</servlet-name>
		<servlet-class>com.tutorial.images.Images1Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Images1Servlet</servlet-name>
		<url-pattern>/images1.echo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Images2Servlet</servlet-name>
		<servlet-class>com.tutorial.images.Images2Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Images2Servlet</servlet-name>
		<url-pattern>/images2.echo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Images3Servlet</servlet-name>
		<servlet-class>com.tutorial.images.Images3Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Images3Servlet</servlet-name>
		<url-pattern>/images3.echo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Images4Servlet</servlet-name>
		<servlet-class>com.tutorial.images.Images4Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Images4Servlet</servlet-name>
		<url-pattern>/images4.echo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImageMapServlet</servlet-name>
		<servlet-class>com.tutorial.imagemap.ImageMapServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ImageMapServlet</servlet-name>
		<url-pattern>/imagemap.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>ImagesAppServlet</servlet-name>
		<servlet-class>com.tutorial.imageservlet.ImagesAppServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ImagesAppServlet</servlet-name>
		<url-pattern>/imagesapp.echo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImagesDataServlet</servlet-name>
		<servlet-class>com.tutorial.imageservlet.ImagesDataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ImagesDataServlet</servlet-name>
		<url-pattern>/imagesdata</url-pattern>
	</servlet-mapping>


	<!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>FileTransferServlet</servlet-name>
		<servlet-class>com.tutorial.filetransfer.FileTransferServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileTransferServlet</servlet-name>
		<url-pattern>/filetransfer.echo</url-pattern>
	</servlet-mapping>

</web-app>
