<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RegistroDeUsuario</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--
		********************************************************************************
		********************************************************************************
	-->

	<servlet>
		<servlet-name>WindowServlet</servlet-name>
		<servlet-class>com.tutorial.window.WindowServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WindowServlet</servlet-name>
		<url-pattern>/window.echo</url-pattern>
	</servlet-mapping>
	
	 <!--
		********************************************************************************
		********************************************************************************
	-->
	
	<servlet>
		<servlet-name>InputTextServlet1</servlet-name>
		<servlet-class>com.tutorial.input1.InputTextServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InputTextServlet1</servlet-name>
		<url-pattern>/inputtext1.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->
	
	<servlet>
		<servlet-name>HtmlLayoutServlet</servlet-name>
		<servlet-class>com.tutorial.htmllayout.HtmlLayoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HtmlLayoutServlet</servlet-name>
		<url-pattern>/htmllayout.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->
	
	
	
	<servlet>
		<servlet-name>FormularioServlet</servlet-name>
		<servlet-class>codesolids.gui.registrodeusuario.FormularioServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FormularioServlet</servlet-name>
		<url-pattern>/formulario.echo</url-pattern>
	</servlet-mapping>

	<!--
		********************************************************************************
		********************************************************************************
	-->
</web-app>